<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Play Battle</title>
</head>
<body>
<h1><%= @game.player_1.name%> attacked <%= @game.player_2.name%></h1>
<h1><%= @game.player_1.name%>: Hit Points = <%=@game.player_1.hitpoints%>; <%=@game.player_2.name%>: Hit Points = <%=@game.player_2.hitpoints%></h1>
</body>
</html>